@charset "utf-8";

// Import a Google Font
// @import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Roboto&display=swap');

// Bulmaswatch theme variables, we'll override some later
$bulmaswatch-import-font: false;
@import "../node_modules/bulmaswatch/sandstone/_variables.scss";

// Set your brand colors
$yellow: #f9ce0d;

// Update Bulma's global variables
$family-sans-serif: "Roboto", sans-serif;
$family-primary: $family-sans-serif;
$family-secondary: "Open Sans Condensed", sans-serif;
$warning: $yellow;

// Update some of Bulma's component variables

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/_all.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/_all.sass";
@import "../node_modules/bulma/sass/grid/_all.sass";
@import "../node_modules/bulma/sass/helpers/_all.sass";
@import "../node_modules/bulma/sass/layout/_all.sass";

// Bulmaswatch theme overrides, must come after bulma
@import "../node_modules/bulmaswatch/sandstone/_overrides.scss";

// Extra customizations

.button {
    text-transform: none;
}

.todo-priority-high {
    @extend .has-background-warning-light;
}

.todo-priority-low {
    @extend .has-text-grey;
}

